
$black: #101010;
$white: #ffffff;
$grey-1: #f9f9f9;
$grey-2: #e8e8e8;
$grey-3: #999999;
$grey-4: #262626;
$grey-5: #080910;
$grey-6: #404040;


$primary-1: #fed41c;
$primary-1-1: #caa000;
$primary-2: #00A63F;
$primary-3: #3F41B2;
$primary-3-1: #9B9DFF;


$alert-1: #FF0200;

$font-text: 'Ubuntu', sans-serif;


// Welocome page styling


.g-welcome {
  // background-color: $primary-1;
  background: url(assets/img/bg-2.png) no-repeat center center fixed;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  .brand {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .carousel-custom {
      .carousel-control {
        background-image: none;
        span {
          text-shadow: none;
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
    .logo {

    }
    .carousel-custom {
      .item {
        min-height: 500px;
        .h1 {
          margin: 20px auto;
        }
        .h2 {
          font-size: 50px;
          margin: 0 20px 20px 20px;
          font-weight: 700;
          color: $white;
        }
        .h3 {
          margin-bottom: 30px;
        }
        .img-info {
          text-align: center;
          img {
            width: 30%;
            @media (max-width: 768px) {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

//alert styling

.alert-custom {
  background-color: $primary-3;
  color: $white;
  position: fixed;
  width: 100%;
  top: 0;
  border-radius: 0;
  z-index: 99;
  border: none;
  opacity: 0.9;
  text-align: center;
  transition: all 0.5s ease-in-out;
  .close {
    color: $white;
  }
}

//forms

/* all */
::-webkit-input-placeholder { color:$primary-1-1; }
::-moz-placeholder { color:$primary-1-1; } /* firefox 19+ */
:-ms-input-placeholder { color:$primary-1-1; } /* ie */
input:-moz-placeholder { color:$primary-1-1; }

/* individual: webkit */
.input-style::-webkit-input-placeholder { color: $primary-1-1; }
/* individual: mozilla */
.input-style::-moz-placeholder { color: $primary-1-1; }

.b-form {
  .form-group {
    margin-bottom: 30px;
  }
  .panel-info {
    border-color: $primary-1;
    background-color: $primary-1;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-top: 40px;
    input[type="text"],
    input[type="password"] {
      font-size: 15px;
      color: $white;
      padding: 0;
      text-transform: uppercase;
      border: none;
      background: none;
      border-radius: 0;
      text-align: center;
      box-shadow: none;
      letter-spacing: 0.1em;
      padding-bottom: 15px;
      border-bottom: solid 1px $white;
      transition: border 0.3s;
      &.input-lowercase {
        text-transform: inherit;
      }
    }
    .panel-time, .panel-type {
      text-align: center;
      margin-bottom: 30px;
      select {
        border-radius: 0;
        box-shadow: none;
        display: inline-block;
        width: 60px;
        font-size: 16px;
      }
      .nam {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        color: $primary-1-1;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 15px;
      }
      .sep {
        display: inline-block;
        height: 34px;
        padding: 0px 5px;
        font-size: 22px;
      }
    }
    .panel-type {
      select {
        width: 250px;
      }
    }
    input[type="text"]:focus,
    input[type="text"].focus,
    input[type="password"]:focus,
    input[type="password"].focus {
      color: $white;
      border-bottom: solid 1px $primary-1-1;
    }

    .panel-body {
      padding: 40px;
      .avatar {
        background-color: $white;
        height: 100px;
        width: 100px;
        margin: 0 auto 15px auto;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        i {
          font-size: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .text-signup {
        p {
          color: $primary-1-1;
        }
        a {
          color: $white;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          text-decoration: underline;
          margin: 0;

        }
      }
      .error {
        margin: 0 0 10px;
        color: $black;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}

.selectmenu {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
  border:0 !important;
}
.hideoption {
  display:none;
  visibility:hidden;
  height:0;
  font-size:0;
}
